# Dependencies
node_modules

# Next.js build output
.next

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# Documentation
*.md
!README.md

# Misc
.husky
.eslintcache
